*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(11.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    float:left;
    width: 150px;
    height: auto;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 60px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;  
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
    
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card:hover{
    transform: translateY(-10px);
}
h5{
    font-size: 8px;
    font-style: italic;
    color: #fff;
    text-shadow: 0 0 1px #999;
    display: none;
}


/*DOUCH HOSPITLE*/
.card1{
    background-image: url(d.jpg);
}
.card2{
    background-image: url(d2.jpg);
}
.card3{
    background-image: url(d3.jpg);
}
.card4{
    background-image: url(d4.jpg);
}

/*GALLFACE*/
.card5{
    background-image: url(gf.jpg);
}
.card6{
    background-image: url(gf2.jpg);
}
.card7{
    background-image: url(gf3.jpg);
}
.card8{
    background-image: url(gf4.jpg);
}

/*GANGARAMAYA*/
.card9{
    background-image: url(g.jpg);
}
.card10{
    background-image: url(g2.jpg);
}
.card11{
    background-image: url(g3.jpg);
}
.card12{
    background-image: url(g4.jpg);
}

/*arcade*/
.card13{
    background-image: url(i.jpg);
}
.card14{
    background-image: url(i2.jpg);
}
.card15{
    background-image: url(i3.jpg);
}
.card16{
    background-image: url(i4.jpg);
}

/*kalaniya*/
.card17{
    background-image: url(k.jpg);
}
.card18{
    background-image: url(k2.jpg);
}
.card19{
    background-image: url(k3.jpg);
}
.card20{
    background-image: url(k4.jpg);
}

/*kovil*/
.card21{
    background-image: url(ko.jpg);
}
.card22{
    background-image: url(ko2.jpg);
}
.card23{
    background-image: url(ko3.jpg);
}
.card24{
    background-image: url(ko4.jpg);
}


/*mosque*/
.card25{
    background-image: url(m.jpg);
}
.card26{
    background-image: url(m2.jpg);
}
.card27{
    background-image: url(m3.jpg);
}
.card28{
    background-image: url(m4.jpg);
}


/*museum*/
.card29{
    background-image: url(mu.jpg);
}
.card30{
    background-image: url(mu2.jpg);
}
.card31{
    background-image: url(mu3.jpg);
}
.card32{
    background-image: url(mu4.jpg);
}

/*mountlavenia*/
.card33{
    background-image: url(b.jpg);
}
.card34{
    background-image: url(b2.jpg);
}
.card35{
    background-image: url(b3.jpg);
}
.card36{
    background-image: url(b4.jpg);
}

/*zoo*/
.card37{
    background-image: url(z.jpg);
}
.card38{
    background-image: url(z2.jpg);
}
.card39{
    background-image: url(z3.jpg);
}
.card40{
    background-image: url(z4.jpg);
}









